.App {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.editor-view {
  display: inline-flex;
  height: 100%;
  width: 100%;
}

.content-grid {
  display: grid;
  background-color: rgb(187, 187, 187);
  height: 100%;
  width: 100%;
}

.grid-item {
  height: 100%;
}